@import "../abstract/variables.scss";

.col-location{
  margin-top: 4rem;
}

.left-info-location{
  padding: 2rem;
  margin-top: 4rem;
}

.right-info-location{
  padding: 2rem;
  margin-top: 25rem;
}

.right-bottom-info-location{
  padding: 2rem;
  margin-top: 4rem;
}
