@import "../abstract/variables.scss";

.city-picture
{
  position: relative;
  height: 60rem;
  width: 50rem;
  margin-top: 7rem;
  left: 10rem;
  text-align: center;
}

.background-flex{
  background-color: $color-fifth;
  position: flex;
  height: 140rem;
  width: 50rem;
  z-index: 1;
}

.background-left{
  background-color:white;
  position: relative;
  height: 70rem;
  width: 40rem;
  z-index: 1;
  left: 65rem;
  margin-top: -120rem;
}

.background-right{
  background-color: white;
  position: relative;
  height: 70rem;
  width: 40rem;
  z-index: 1;
  left: 107rem;
  margin-top: -70rem;
  text-align: justify;
}

.background-main-title{
  background-color: aqua;
  position: relative;
  height: 10rem;
  width: 40rem;
  z-index: 1;
  left: 85rem;
  margin-top: -140rem;
}

.text{
  position: relative;
  text-align: justify;
  font-size: 1.6rem;
  color: $color-tertiary;
  margin-left: 2rem;
  margin-right: 2rem;
}

.main-title{
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: $color-tertiary;
}