@import "../abstract/variables.scss";

.left-background{
  background-color: $color-fifth;
  text-align: justify;
}

.left-picture{
  margin-top: 1rem;
  padding: 2rem;
}

.left-paragraph{
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: $color-primary;
}

.left-title{
  color: $color-fifth;
  font-size: 5rem;
  text-align: center;
  font-weight: 600;
  margin-top: 6rem;
}

.right-paragraph{
  padding: 2rem;
  margin-top: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: $color-fifth;
}

.right-bottom-paragraph{
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: $color-fifth;
}

.right-bottom-paragraph{
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: $color-fifth;
}
