@import "../abstract/variables.scss";


.left-side{
  background-color: $color-secondary;
  height: 100rem;
  text-align: center;
}

.left-side-picture{
  height: 20rem;
  width: 25rem;
  background-color: $color-secondary;
  margin: auto;
}

.right-side-picture{
  height: 20rem;
  width: 25rem;
  background-color: $color-secondary;
  margin: auto;
}

.right-side-text{
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  color: $color-fifth;
  margin-top: 2rem;
  padding: 3rem;
}