@import "../abstract/variables.scss";

.people-panel{
  background-color: $color-eighth;
  margin: auto;
  text-align: center;
  margin-top: 20rem;
}

.create-button{
  text-align: center;
  background-color: $color-seventh;
}

.interest-title{
  font-size: 3rem;
  color: $color-fifth;
  font-weight: 600;
}

.main-part-panel{
  text-align: center;
  margin: auto;
}

.interest-paragraph{
  text-align: center;
  padding: 1rem;
  margin: auto;
}
