@import "../abstract/variables.scss";

.card {
  overflow: hidden;
  padding: 3rem;
  width: auto;
  height: auto;
  text-align: center;
  color: $color-secondary;
  background-color: $color-seventh;
  transition: 0.2s all;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.card:hover {
  background-color: $color-ninth;
  box-shadow: none;
}

.card-text {
  font-size: 1.5rem;
  color: $color-sixth;
  text-align: justify;
}

.card-title {
  font-size: 1.7rem;
  color: $color-sixth;
  text-align: center;
  margin-top: 1rem;
}
