.first-background{
  background-color: #BAB99D;
  width: 40rem;
  height: 100rem;
  position: relative;
  left: 25rem;
  z-index: 1;
}

.profile-picture{
  background-color: #F3EFE6;
  width: 30rem;
  height: 30rem;
  position: relative;
  left: 30rem;
  z-index: 2;
  top: -94rem;
  border-radius: 50%;
}

.name{
  width: 40rem;
  height: 40rem;
  position: relative;
  left: 25rem;
  top: -92rem;
  z-index: 2;
  font-family: Poppins;
  font-size: 3rem;
  text-align: center;
}

.name-text{
  color: #F3EFE6;
  text-align: center;
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 600;
}

.tag{
  color:#F3EFE6;
  text-align: left;
  margin-left: 5rem;
  font-family: Poppins;
  font-size: 0,5rem;
  font-weight: 300;
  margin-top: -1rem;
}

.info-pharagraph{
  color:#F3EFE6 ;
  text-align: justify;
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: Poppins;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 3rem;
}

.second-background{
  background-color: white;
  width: 62rem;
  height: 100rem;
  position: relative;
  left: 65rem;
  z-index: 1;
  margin-top: -170rem;
}

.second-background-left{
  background-color: #F3EFE6;
  width: 28rem;
  height: 60rem;
  position: relative;
  left: 67rem;
  z-index: 2;
  margin-top: -78rem;
}

.second-background-right{
  background-color: #F3EFE6;
  width: 28rem;
  height: 60rem;
  position: relative;
  left: 97rem;
  z-index: 2;
  margin-top: -60rem;
}

.hobbie-1{
  background-color: #BAB99D;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  position: relative;
  left: 68rem;
  z-index: 2;
  margin-top: 3rem;
}

.hobbie-2{
  background-color: #BAB99D;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  position: relative;
  left: 82rem;
  z-index: 2;
  margin-top: -12rem;
}
.hobbie-3{
  background-color: #BAB99D;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  position: relative;
  left: 98rem;
  z-index: 2;
  margin-top: -12rem;
}

.hobbie-4{
  background-color: #BAB99D;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  position: relative;
  left: 112rem;
  z-index: 2;
  margin-top: -12rem;
}
