.city-picture
{
  position: flex;
  height: 50rem;
  width: 40rem;
  margin-top: 3rem;
  text-align: center;
}

.background-flex{
  background-color: #5F6C5A;
  position: flex;
  height: 100rem;
  width: 50rem;
  z-index: 1;
}