.left-side{
  background-color: $color-secondary;
  height: 100rem;
  text-align: center;
}

.left-side-picture{
  height: 20rem;
  width: 20rem;
  background-color: $color-secondary;
  border-radius: 50%;
  margin: auto;
}

.right-side-picture{
  height: 20rem;
  width: 20rem;
  background-color: $color-secondary;
  border-radius: 50%;
  margin: auto;
}

.right-side-text{
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  color: $color-fifth;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 7rem;
}