$color-primary: #F4F4F4;
$color-secondary: #D0C7C0;
$color-tertiary: #9F9A84;
$color-quarternary:#7F8169;
$color-fifth: #242021;
$color-sixth: #153048;
$color-seventh: #9CABB4;
$color-eighth: #D9E0E6;
$color-ninth: #7A8D99;

